body{
    background-color: lightskyblue;
}
h1{
    color:lightcoral;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    padding:0px 10px;
}
p{
    font-weight: 600;
}

